{% extends 'imageai/base.html' %}
{% block title %}お問い合わせ{% endblock %}

{% block content %}
<div class="contact">
    <td><h1 class="mt-4 mb-5 border-top index-title">お問い合わせ</h1></td>
    <br>
    <p>不具合や改善点などがあれば以下のアドレスにご連絡ください。</p>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">お問い合わせ先</h4>
          <h6 class="card-subtitle mb-2 text-muted">uip-kleh</h6>
          <p class="card-text">
            Pythonとdjango初学者。普段は惰性でAtCoderを続けています。
          </p>
          <a href="https://github.com/yasuak1" class="card-link">Github</a>
          <a href="https://twitter.com/yasuak13636" class="card-link">Twitter</a>
        </div>
      </div>
</div>
  
{% endblock %}